<section class="networks">
	<div class="networks__filters">
		<input
			id="networks-search"
			pInputText
			type="text"
			placeholder="Назва, місто або країна"
			class="networks__search"
			[ngModel]="searchTerm()"
			(ngModelChange)="searchTerm.set($event)"
		/>
	</div>

	<div class="networks__results">
		<div class="networks__grid">
			@for (item of results(); track item._id) {
			<div class="networks__row" (click)="view(item)">
				<app-network-short [entity]="item" />
			</div>
			} @empty {
			<p class="networks__empty" translate>За заданим запитом мереж не знайдено.</p>
			}
		</div>
	</div>
</section>
